*{
    font-family: 'Quicksand', sans-serif;
}
nav{
    text-align: center;
    padding: 20px;
}
.searchbar{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 10px;
    border-radius: 9px;
    border-color: rgb(156, 156, 156);
}

/*===================================
Grid Layout
====================================*/
.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 1000px;
    grid-gap: 15px;
    padding: 25px;
    justify-content: center;
    margin: auto;
}